@import url('https://fonts.bunny.net/css?family=Andika&display=swap'); 
@import url('https://fonts.bunny.net/css?family=Ubuntu+Mono&display=swap'); /* ' */

body {
  padding: 30px;
  max-width: 1000px;
  font-family: Andika, sans-serif;
  margin: 0 auto;
}
div.toc {
    background: #eee;
    border-top: 2px #333 solid;
    border-bottom: 2px #333 solid;
}
div.toc a {
    text-decoration: none;
}
div.toc h3 {
    padding-left: 20px;
}

h1.title, p.author, p.date, h2.author, h2.date {
    text-align: center;
}
a { text-decoration: none ; }
code { font-size: 90% }
pre {
    padding: 10px ;
    border-top: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC; 
    font-family: "Ubuntu Mono", monospace;
    
}
pre:has(code) {
    background: #efefef;
}
pre:has(code.tclcode) {
    background: cornsilk;   
}

pre:has(code.tclout) {    
    background: #CCEEFF;
}
pre:has(code.tclerr) {    
    background: #FFCCCC;
}
pre:has(code.error) {    
    background: #FFCCCC;
}

table {    
  border-collapse: collapse;
  border-bottom: 2px solid;
  border-spacing: 5px;
  min-width: 500px;
}
table thead tr th { 
  background-color: #fde9d9;
  text-align: left; 
  padding: 5px;
  border-top: 2px solid;
  border-bottom: 2px solid;
}
table tr td { 
  background-color: #f6f6f6;
  text-align: left; 
  padding: 5px;
}

/* Alerts: */

.side-warning, .side-caution, .side-info, .side-question, .side-error, .side-note, .side-tip, .side-important {
  color: var(--used-color);
  margin-bottom: 32px;
  margin-top: 16px;
  padding: 16px;
  padding-left: 48px;
  border-radius: 5px 0 0 5px;
  position: relative;  
}
.side-error, .side-caution {
  border-left: solid 7px #aa3322;
  border-top: solid 1px #fff0f0; 
  border-right: solid 1px #fff0f0; 
  border-bottom: solid 1px #fff0f0; 
  background-color: #fff0f0;
  
}

.side-important {
  border-left: solid 7px #aa33aa;
  border-top: solid 1px #fff0ff; 
  border-right: solid 1px #fff0ff; 
  border-bottom: solid 1px #fff0ff; 
  background-color: #fff0ff;
}

.side-note, .side-tip {
  border-left: solid 7px #223399;
  border-top: solid 1px #f0f7ff; 
  border-right: solid 1px #f0f7ff; 
  border-bottom: solid 1px #f0f7ff; 
  background-color: #f0f7ff;
  
}

.side-info {
  border-left: solid 7px #339922;
  border-top: solid 1px #f7fff0; 
  border-right: solid 1px #f7fff0; 
  border-bottom: solid 1px #f7fff0; 
  background-color: #f7fff0;
  
}
.side-question {
  border-left: solid 7px #999922;
  border-top: solid 1px #fffff0; 
  border-right: solid 1px #fffff0; 
  border-bottom: solid 1px #fffff0; 
  background-color: #fffff0;
}
.side-warning {
  border-left: solid 7px #ff9933;
  border-top: solid 1px #fff7f0; 
  border-right: solid 1px #fff7f0; 
  border-bottom: solid 1px #fff7f0; 
  background-color: #fff7f0;
}

.side-info::before, .side-warning::before, .side-caution::before, .side-question::before, .side-error::before, .side-note::before, .side-tip::before, .side-important::before {
  align-items: center;
  border-radius: 50%;
  display: flex;
  font-family: "Ubuntu Mono", monospace;
  font-size: 16px;
  font-weight: 700;
  height: 24px;
  justify-content: center;
  left: 12px;
  line-height: 1;
  position: absolute;
  top: 15px;
  width: 24px;
}

.side-note::before, .side-tip::before {
  background-color: #223399;
  color: #fff;
  content: "N";
  
}

.side-important::before {
  background-color: #993399;
  color: #fff;
  content: "!";
}

.side-tip::before {
  background-color: #223399; 
  content: "\261B";
  font-size: 110%;
  
}

.side-info::before {
  background-color: #339922;
  color: #fff;
  content: "i";
  
}
.side-error::before {
  background-color: #fff0f0;
  color: #fff;
  content: "\26D4";
  font-size: 120%;
}
.side-caution::before {
  background-color: #aa3322;
  color: #fff;
  content: "!";
}

.side-question::before {
  background-color: #999922;
  color: #fff;
  content: "?";
  
}

.side-warning::before {
  background-color: #dd6622;
  color: #fff;
  content: "!";
  
}
/* fix for AsciiDoc tables with paragraphs */
p.tableblock { padding: 0px; margin: 0px;}
